{% extends 'Base.html' %}
{% block Title %} Recipies {% endblock %}
{% block Content %}
    <div class="container px-4 py-5" id="five recipies">
    <h2 class="pb-2 border-bottom">Try these recipies!</h2>
      <div class="row row-cols-1 row-cols-lg-5 align-items-stretch g-4 py-5">
        {% for recipe in recipies %}
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url({{recipe.picture.url}});">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-1 mt-1 mb-4 display-8 lh-1 fw-bold"> {{recipe.name}} </h3>
<!--                <ul class="d-flex list-unstyled mt-auto">-->
<!--                  -->
<!--                    <li class="d-flex align-items-center me-3">-->
<!--                      <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>-->
<!--                      <small></small>-->
<!--                    </li>-->
<!--                  -->
<!--                </ul>-->
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}